node_modules
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/1.pack_
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/7.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/12.pack
.next/cache/webpack/client-development/13.pack
.next/cache/webpack/client-development/14.pack
.next/cache/webpack/client-development/15.pack
.next/cache/webpack/client-development/16.pack
.next/cache/webpack/client-development/17.pack
.next/cache/webpack/client-development/18.pack
.next/cache/webpack/client-development/19.pack
.next/cache/webpack/client-development/20.pack
.next/cache/webpack/client-development/21.pack
.next/cache/webpack/client-development/22.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/index.pack
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/1.pack_
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/2.pack_
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/9.pack
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/11.pack
.next/cache/webpack/server-development/12.pack
.next/cache/webpack/server-development/13.pack
.next/cache/webpack/server-development/14.pack
.next/cache/webpack/server-development/15.pack
.next/cache/webpack/server-development/16.pack
.next/cache/webpack/server-development/17.pack
.next/cache/webpack/server-development/18.pack
.next/cache/webpack/server-development/19.pack
.next/cache/webpack/server-development/20.pack
.next/cache/webpack/server-development/21.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/3a94b06e18605264-s.woff2
.next/static/media/8b86eee4b42294f4-s.woff2
.next/static/media/9ac67d7f96b5e240-s.p.woff2
.next/static/media/65bd70132ea23e08-s.woff2
.next/static/media/4915cda9a7080a15-s.woff2
.next/static/media/7803f33246c157e0-s.woff2
.next/static/media/c92fa0225e0a67f4-s.p.woff2
.next/static/media/f6e20db0d6439cd3-s.woff2
